$light-blue: #3297C9;

body {
	background: #fff;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 62.5%;
	margin: 0;
}

p, i {
	font-size: 1.6em;
}

@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.navlist {
	@include clearfix;
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		float: left;
	}
}

.page {
	position: absolute;
	left: 0; right: 0;
	background: #fff;
	min-height: 600px;
}

.header {
	//position: fixed;
	top: 0; bottom: 0;
	z-index: 100;
	background: $light-blue;
	color: #fff;
	text-align: center;
	h1, h3 {
		margin: 0;
	}
	h1 {
		font-weight: 300;
		font-size: 6em;
	}
	h3 {
		font-weight: 600;
		font-size: 4em;
	}
	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -490px;
		margin-top: -166px;
	}
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		bottom: auto;
		right: 0;
		z-index: 9999;
		.head_nav {
			margin: 5px 0;
		}
	}
}

.container {
	width: 980px;
	margin: 0 auto;
}

.inline-block {
	display: inline-block;
}

.head_nav {
	margin: 25px auto 0 auto;
	li {
		text-align: left;
		padding: 15px 20px;
		margin: 0 5px;
		border: 1px solid transparent;
		transition: all 0.2s ease-in;
		cursor: pointer;
		&:hover {
			//background: #fff;
			background: darken($light-blue, 5%);
			border-color: #fff;
		}
		&:active, &.active {
			background: #fff;
			a {
				color: $light-blue;
			}
		}
		a {
			text-decoration: none;
			color: #fff;
		}
		i {
			margin-right: 5px;
		}
		h6 {
			display: inline-block;
			font-size: 1.6em;
			margin: 0;
		}
		p {
			margin: 10px 0 0 0;
			font-size: 1.4em;
		}
	}
}

.btn {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 10px 15px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	&.big {
		font-size: 1.8em;
	}
	&:hover {
		background: #fff;
		color: $light-blue;
	}
}